---
import Home from "../components/Home.jsx";
import "../styles/global.css";
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Respawn</title>
  </head>
  <body>
    <Home client:load />
  </body>
</html>