---
import Login from "../components/Login.jsx";
import "../styles/global.css";
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login | Respawn</title>
  </head>
  <body>
    <Login client:load />
  </body>
</html>